/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");


body {
}

/* main  */

.gamename {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;

}
.gamearea {
    border: 2px solid #000;
    width: 50%; /* Any fixed or percentage width */
    margin: 0 auto;
    text-align: center;
}

#darkmode {
    margin-left: 10px;
    margin-top: 8px;
    width: 25%;
}

#timeformatstyle {
    margin-left: 10px;
    margin-bottom: 8px;
    width: 25%;

}
/* #clock {
    font-size: 2rem;
    font-weight: bold;
    color: yellow;
    background: black;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
} */